<div class='container card card-body mb-3 div-shadow label-container bg-light'>
    <h3>Sample Format:</h3>
    <i>*Use .CSV and please inclued a header.</i>
    <hr>
    <div id="label" class="container card p-0 label-font no-shadow label">
        <table style="width:100%">
        <tr>
            <th class="text-left">ISBN</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Shipper</th>
            <th class="text-center">Tracking Number</th>
        </tr>
        
        <tr>
            <td class="text-left">9784561236541</td>
            <td class="text-center">$4.67</td>
            <td class="text-center">2</td>
            <td class="text-center">USPS</td>
            <td class="text-center">9449011699000902706514</td>
        </tr>

        </table>
    </div>
</div>