<% if current_user.custom? %>

    <div class='container card card-body d-flex flex-row mt-3 mb-5 div-shadow label-container'>

        <center>
            <h3>Upload Order</h3>
        </center>
        


        <div class="container">

            
            <%= render 'buybacks/other_upload_form' %>

        </div>
    </div>
    
<% end %>