/* a:link {
    text-decoration: none;
    color: #444;
  }

  a:visited {
    text-decoration: none;
    color: #444;
  } */
 p {
   margin-bottom: 5px;
 }

 #uploader {
   display: none;
   top: -400px;
 }

#upload-show, #upload-hide {
  cursor: pointer;
}

  .color-black {
      color: #000;
  }

 .label-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.no-border{
    border: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.no-shadow {
  box-shadow: unset;
}

.font-20 {
    font-size: 20px;
}

.text-dark {
  color: #000 !important;
  font-weight: 600;
}

.no-radius{
    border-radius: 0;
}

.div-shadow {
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    /* box-shadow: 0 0px 2px rgba(0, 0, 0, .45); */
  }

  .text-shadow {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    /* box-shadow: 0 0px 2px rgba(0, 0, 0, .45); */
  }

  .search-input {
    display: inline-block;
    background: #fff;
    color: #000;
    cursor: text;
    width: 33%;


    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    /* line-height: 1.42857143; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    /* border: 1px solid transparent; */
    border-radius: 4px;
  }

  .input-shadow {
    -webkit-appearance: none;
    border-radius: 5px;
  }

  .print-button {
      font-size: 20px;
  }

  .init-input {
    display: inline-block;
    background: #fff;
    color: #000;
    cursor: text;
    width: 13%;


    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    /* line-height: 1.42857143; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

    /* border: 1px solid transparent; */
    border-radius: 4px;
  }

  .float-right {
    float: right;
  }

  .label {
    background: transparent;
    border: none;
  }

  .no-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .uploader {
    width: 300px;
  }

  .upload-container {
    z-index: 1;
  }

  .nav-container {
    z-index: 2;
  }

  .navbar-brand {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
    text-align: center;
  }

  .navbar-brand-inner {
    display: inline-block;
    width: 77%;
    height: 200%;
    background: url('/assets/logo.png');
    background-repeat: no-repeat;
    background-size: contain;

  }

  .link-card {
    text-align: center;
    flex-direction: row;
    display: block;
  }

  .link-center {
    display: inline-block;
  }

  .link-button {
    /* width: 10px; */
    margin: 10px;
    font-weight: 500;
  } 
  
  .label-save {
    width: 160px;
  }

  .label-image-container {
    width: 160px;
    /* overflow: hidden; */
  }

  .notes {
    height: 122px !important;
  }

  .label-image {
    /* background-image: url("https://pictures.abebooks.com/isbn/9780131383173-us.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
  }

  .label-check {
    display: flex;
    height: 125px;
    font-size: 80px;
  }

  .complete {
    display: none;
  }

  .reject {
    display: none;
  }

  .warn {
    display: none;
  }

  .keep {
    display: none;
  }

  .icon-wrap {
    padding-top: 20px;
  }

  .label-container {
    background-color: #eee;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .border-none {
    border: none;
  }

  .purple {
    background-color: #563d7c;
  }

