    <nav class="navbar navbar-expand-md navbar-dark bg-dark nav-container">
        <a href="#" class="navbar-brand">
            <div class="navbar-brand-inner"></div>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="https://buyback.textbookmaniac.com/admin" target="_blank" class="nav-item nav-link active">Admin</a>
                <a href="http://metabase.textbookmaniac.com/" target="_blank" class="nav-item nav-link active">Metabase</a>
                <a href="http://camelcamelcamel.com/" target="_blank" class="nav-item nav-link active">Camel</a>
            </div>
            <div class="navbar-nav ml-auto">
                <div id="upload-show" class="nav-item btn btn-warning text-dark div-shadow">Upload Orders</div>
            </div>
        </div>
    </nav>
